/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2017, 4:24:00 PM
    Author     : Devon
*/

.input{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 150px;

}



#fileInput {
    padding-top: 10px;
}

.pieceInput {
    margin-top: 10px;
}

#title {
    font-family: Verdana, Helvetica, Arial;
    float: left;
}

#sidebar {
    float: left;
    width: 300px;
    margin-right: 10px;
}

#game_board {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
    background-size: contain;
    background-position: center;
    background-image: url('');
    /*background-color: cyan;*/
}

#game_area {
    display: none;
}
